{% load static %}
{% block content %}
{% for module in modules %}
  {% for assignment in module.assignments %}
    <!-- Add Task Modal -->
    <div id="add-task-modal-{{assignment.id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <!-- Start of modal header -->
                    <div class="modal-header">
                      <h4 class="modal-title">New Task</h4>
                      <button type="button" class="close" data-dismiss="modal">
                        &times;
                      </button>
                    </div>
                    <!-- End of modal header -->
        
                    <!-- Start of modal body -->
                    <div class="modal-body">
                      
                        <form
                          id="add-task-form-{{assignment.id}}"
                          action="{% url 'create_task' assignment.id %}"
                          method="POST"
                          validation-url="{% url 'validate_task' %}"
                        >  
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input
                                type="text"
                                class="form-control"
                                name="title"
                                required
                                />
                            </div>
    
                            <!-- Validation title -->
                            {% if errors.title %}
                            <p class="text-danger small" style="margin-top: -10px">
                                {{ errors.title }}
                            </p>
                            {% endif%}
                            <!-- End Validation title -->
    
                            <div class="form-group">
                                <label for="modules">
                                  Description
                                </label>
                                
                                <textarea
                                style="resize: none;"
                                name="description" 
                                rows="2" 
                                class="form-control mb-3" 
                                ></textarea>
                            </div>
                            
                            <!-- Validation description -->
                            {% if errors.description %}
                            <p class="text-danger small" style="margin-top: -10px">
                                {{ errors.description }}
                            </p>
                            {% endif%}
                            <!-- End Validation description -->
    
                            <!-- <span class="d-block w-100"> -->
                            <div class="form-group w-50 float-left pr-1">
                                <label for="atype">Study Type</label>
                                <select name="studytype" class="form-control">
                                    {% for type in types %}
                                        <option 
                                            value="{{ type.1 }}"
                                            required
                                            {% if forloop.first %}
                                            selected
                                            {% endif %}
                                        >{{ type.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
      
                              <div class="form-group w-50 float-left pl-1">
                                  <label for="title">Target Amount</label>
                                  <input
                                  type="number"
                                  min="0"
                                  class="form-control"
                                  name="target"
                                  required
                                  />
                              </div>
    
                                <!-- Dependencies -->
                                <div class="form-group">
                                    <label for="dependencies">Dependencies</label>
                                    <select multiple name="dependencies" class="form-control">
                                        {% for task in assignment.tasks %}
                                            <option 
                                                value="{{ task.id }}"
                                                {% if forloop.first %}
                                                selected
                                                {% endif %}
                                            >{{ task.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- End of dependencies -->
      
                              <!-- Validation target -->
                              {% if errors.target %}
                              <p class="text-danger small" style="margin-top: -10px">
                                  {{ errors.target }}
                              </p>
                              {% endif%}
                              <!-- End Validation target -->
                            <!-- </span> -->
    
                            <span class="d-flex w-100">
                              <div class="form-group w-50 pr-1">
                                  <label for="title">Start Date</label>
                                  <input
                                  type="date"
                                  placeholder="YYYY-MM-DD HH:MM"
                                  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}"
                                  data-date-format="YYYY-MM-DD HH:MM"
                                  class="form-control"
                                  name="start"
                                  required
                                  />
                              </div>
      
                              <!-- Validation start date -->
                              {% if errors.start %}
                              <p class="text-danger small" style="margin-top: -10px">
                                  {{ errors.start }}
                              </p>
                              {% endif%}
                              <!-- End Validation start date -->
      
                              <div class="form-group w-50 pl-1">
                                  <label for="title">End Date</label>
                                  <input
                                  type="date"
                                  placeholder="YYYY-MM-DD HH:MM"
                                  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}"
                                  data-date-format="YYYY-MM-DD HH:MM"
                                  class="form-control"
                                  name="end"
                                  required
                                  />
                              </div>
      
                              <!-- Validation end date -->
                              {% if errors.end %}
                              <p class="text-danger small" style="margin-top: -10px">
                                  {{ errors.end }}
                              </p>
                              {% endif%}
                              <!-- End Validation end date -->
                            </span>
    
                            <button type="submit" class="btn btn-block btn-warning">
                                Create Task
                            </button>
                        </form>
    
                    </div>
                    <!-- End of modal body  -->
                </div>
            </div>
        </div>
        <!-- End Add Tak modal -->

  {% endfor %}
{% endfor %}

    <script src="{% static 'js/validation.js' %}"></script>

    {% block javascript %}
      {% for module in modules %}
        {% for assignment in module.assignments %}
            <script>
                validate("#add-task-form-{{assignment.id}}");
            </script>
        {% endfor %}
      {% endfor %}

    {% endblock %}

{% endblock %}