{% extends 'base.html' %} {% load static %} {% block content %}
<div class="dash-bg">
  <div class="container">
    <!-- Login Area -->
    <div class="row justify-content-center">
      <div class="col col-lg-6 col-md-8">
        <div class="card logout-in-card">
          <!-- Card Header -->
          <div class="card-header bg-dark h3">
            <i class="fa fa-sign-in nav-icon"></i>
            Login
          </div>
          <!-- End Card Header -->

          <!-- Card Body -->
          <div class="card-body">
            <form 
            action="{% url 'login' %}" 
            method="POST"
            validation-url="{% url 'validate_login' %}"
            id="login-form"
            >
              {% csrf_token %}
              <div class="form-group">
                <label for="email">Username</label>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  value="{{ input.username }}"
                  required
                />
              </div>
              
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  value="{{ input.password }}"
                  required
                />
              </div>
             
              <button type="submit" class="btn btn-block btn-warning">
                Login
              </button>
            </form>
          </div>
          <!-- End Card Body -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bespoke Scripts -->
<script src="{% static 'js/pages.js' %}"></script>

<script src="{% static 'js/validation.js' %}"></script>

{% block javascript %}
    <script>
        validate("#login-form");
    </script>
{% endblock %}
{% endblock %}
