{% extends 'base.html' %} {% load static %} {% block content %}
<div class="dash-bg">
  <div class="container">
    <!-- Login Area -->
    <div class="row justify-content-center">
      <div class="col col-lg-6 col-md-8">
        <div class="card logout-in-card">
          <!-- Card Header -->
          <div class="card-header bg-dark h3">
            <i class="fa fa-user-plus nav-icon"></i>
            Register
          </div>
          <!-- End Card Header -->

          <!-- Card Body -->
          <div class="card-body">
            <form 
            action="{% url 'register' %}" 
            method="POST"
            id="register-form"
            validation-url="{% url 'validate_register' %}"
            >
              {% csrf_token %}
                <div class="form-group">
                <label for="type">Account Type</label>
                <select name="type" class="form-control">
                    {% for type in types %}
                        <option
                            value="{{ type.1 }}"
                            required
                            {% if forloop.first %}
                            selected
                            {% endif %}
                        >{{ type.1 }}</option>
                    {% endfor %}
                </select>
              </div>

              <div class="form-group">
                <label for="name">Full name</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  value="{{ input.name }}"
                  required
                />
              </div>
              <!-- Validation output -->
              {% if errors.name %}
              <p class="text-danger small" style="margin-top: -10px">
                {{ errors.name }}
              </p>
              {% endif%}
              <!-- End Validation output -->
              <div class="form-group">
                <label for="username">Username</label>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  value="{{ input.username }}"
                  required
                />
              </div>
              <!-- Validation output -->
              {% if errors.username %}
              <p class="text-danger small" style="margin-top: -10px">
                {{ errors.username }}
              </p>
              {% endif%}
              <!-- End Validation output -->
              <div class="form-group">
                <label for="email">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  value="{{ input.email }}"
                  required
                />
              </div>
              <!-- Validation output -->
              {% if errors.email %}
              <p class="text-danger small" style="margin-top: -10px">
                {{ errors.email }}
              </p>
              {% endif%}
              <!-- End Validation output -->
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  value="{{ input.password }}"
                  required
                />
              </div>
              <!-- Validation output -->
              {% if errors.password %}
              <p class="text-danger small" style="margin-top: -10px">
                {{ errors.password }}
              </p>
              {% endif%}
              <!-- End Validation output -->
              <div class="form-group">
                <label for="confirm">Confirm Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="confirm"
                  value="{{ input.confirm }}"
                  required
                />
              </div>
              <!-- Validation output -->
              {% if errors.confirm %}
              <p class="text-danger small" style="margin-top: -10px">
                {{ errors.confirm }}
              </p>
              {% endif%}
              <!-- End Validation output -->
              <button type="submit" class="btn btn-block btn-warning">
                Sign Up
              </button>
            </form>
          </div>
          <!-- End Card Body -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bespoke Scripts -->
<script src="{% static 'js/pages.js' %}"></script>

<script src="{% static 'js/validation.js' %}"></script>

    {% block javascript %}
        <script>
            validate("#register-form");
        </script>
    {% endblock %}

{% endblock %}
