{% extends 'base.html' %} {% load static %} {% load humanize %}
{% block content %}
    <script src="{% static 'js/assignments.js' %}"></script>

    {% include 'assignments/editAssignmentModal.html' %}

    {% include 'tasks/addTaskModal.html' %}

    {% include 'tasks/editTaskModal.html' %}

    {% include 'activities/addActivityModal.html' %}
    
    {% include 'milestones/addMilestoneModal.html' %}
    
    {% include 'milestones/viewMilestoneModal.html' %}

    {% include 'milestones/editMilestoneModal.html' %}

    {% include 'activities/viewActivityModal.html' %}

    {% include 'activities/editActivityModal.html' %}
    
    {% include 'activities/doActivityModal.html' %}
    
    {% include 'tasks/deleteTaskModal.html' %}

    {% include 'assignments/deleteAssignmentModal.html' %}

    {% include 'milestones/deleteMilestoneModal.html' %}

    {% include 'activities/deleteActivityModal.html' %}

    <div class="dash-bg">
        {% if assignment.tasks %}
            <section id="assignment-info">
                <div class="container">
                    <h5 class="assignment-heading">{{assignment.title}}</h5>
                    <h6 class="assignment-details">
                        {{assignment.assignment_type_fmt}} worth <span class="font-weight-bold">{{assignment.weighting}}%</span>
                        {% if assignment.assignment_type == 'COURSEWORK' %}
                            that's due <span class="font-weight-bold">{{assignment.deadline | naturalday}}</span>
                        {% else %}
                            that takes place <span class="font-weight-bold">{{assignment.deadline | naturalday}}</span>
                        {% endif %}

                        <!-- Action buttons -->
                        <div class="assignment-action-buttons float-right mr-3">
                            <a 
                            style="pointer-events: all"
                            href="#edit-assignment-modal"
                            class="edit-assignment-button mr-2"
                            data-toggle="modal"
                            data-dismiss="modal"
                            assignment-title="{{ assignment.title }}"
                            assignment-id="{{ assignment.id }}"
                            >
                                <i class="fa fa-edit"></i>
                                Edit
                            </a>
    
                            <a 
                            style="pointer-events: all"
                            href="#delete-assignment-modal"
                            class="delete-assignment-button"
                            data-toggle="modal"
                            assignment-title="{{ assignment.title }}"
                            assignment-id="{{ assignment.id }}"
                            >
                                <i class="fa fa-trash-o"></i>
                                Delete
                            </a>
                        </div>
                        <!-- End of action buttons -->
                    </h6>
        
                    <!-- Gantt Chart -->
                    <div id="gantt-chart-area" class="text-center">
                        <canvas id="gantt-chart" height=300 width=600></canvas>
                    </div>
                    <button id="gantt-chart-back">
                        <i class="fa fa-angle-double-left"></i>
                    </button>
                    <button id="gantt-chart-forward">
                        <i class="fa fa-angle-double-right"></i>
                    </button>

                    <div class="row mt-4" id="milestones-activities">
                        <div class="col-sm-6" id="assignment-milestones">
                            <h6>
                                <i class="fa fa-star-half-o"></i>
                                Milestones
        
                                <!-- Add Milestone Button -->
                                <span class="float-right">
                                    <button
                                    id="add-milestone"
                                    data-toggle="modal"
                                    data-target="#add-milestone-modal"
                                    title="Add a new Milestone"
                                    class="mb-3"
                                    >
                                        <i class="fa fa-plus-circle"></i>
                                    </button>
                                </span>
                            </h6>

                            <!-- Body -->
                            <div class="milestones-activities-bg">
                                <div class="container">
                                    <!-- Tabs -->
                                    <ul class="nav nav-tabs" id="milestone-tab-header">
                                        <li class="active"><a data-toggle="tab" href="#m-in-progress">In Progress</a></li>
                                        <li><a data-toggle="tab" href="#m-complete">Complete</a></li>
                                        <li><a data-toggle="tab" href="#m-overdue">Overdue</a></li>
                                    </ul>

                                    <!-- Content -->
                                    <div class="tab-content" id="milestone-tab-body">
                                            <!-- In Progress Milestones -->
                                            <div id="m-in-progress" class="tab-pane fade in active show">
                                                {% for milestone in assignment.milestones %}
                                                {% if not milestone.complete and not milestone.is_overdue %}
                                                    <div class="milestone-tab-in-progress">
                                                        <canvas class="float-left" id="milestone-{{milestone.id}}" width=50 height=50>
                                                            Milestone Progress
                                                        </canvas>
                                                        <p title="{{milestone.name}}">
                                                            <a
                                                            style="color:inherit"
                                                            data-toggle="modal"
                                                            data-target="#view-milestone-modal-{{ milestone.id }}"
                                                            href="#view-milestone-modal-{{ milestone.id }}"
                                                            >
                                                                {{ milestone.name }}
                                                            </a>
                                                        </p>
                                                        <div class="milestone-date">
                                                            {{milestone.deadline|date:'M'}}
                                                            <span
                                                            class="d-block" 
                                                            style="font-size: 1.2rem; margin-top: -5px; font-weight: normal"
                                                            >
                                                                {{milestone.deadline.day}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>

                                            <!-- Complete Milestones -->
                                            <div id="m-complete" class="tab-pane fade">
                                                {% for milestone in assignment.milestones %}
                                                    {% if milestone.complete %}
                                                    <div class="milestone-tab-in-progress">
                                                        <canvas class="float-left" id="milestone-{{milestone.id}}" width=50 height=50>
                                                            Milestone Progress
                                                        </canvas>
                                                        <p title="{{milestone.name}}">
                                                            <a
                                                            style="color:inherit"
                                                            data-toggle="modal"
                                                            data-target="#view-milestone-modal-{{ milestone.id }}"
                                                            href="#view-milestone-modal-{{ milestone.id }}"
                                                            >
                                                                {{ milestone.name }}
                                                            </a>
                                                        </p>
                                                        <div class="milestone-date">
                                                            {{milestone.deadline|date:'M'}}
                                                            <span
                                                            class="d-block" 
                                                            style="font-size: 1.2rem; margin-top: -5px; font-weight: normal"
                                                            >
                                                                {{milestone.deadline.day}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>

                                            <!-- Overdue Milestones -->
                                            <div id="m-overdue" class="tab-pane fade">
                                                {% for milestone in assignment.milestones %}
                                                    {% if milestone.is_overdue %}
                                                    <div class="milestone-tab-overdue">
                                                        <canvas class="float-left" id="milestone-{{milestone.id}}" width=50 height=50>
                                                            Milestone Progress
                                                        </canvas>
                                                        <p title="{{milestone.name}}">
                                                            <a
                                                            style="color:inherit"
                                                            data-toggle="modal"
                                                            data-target="#view-milestone-modal-{{ milestone.id }}"
                                                            href="#view-milestone-modal-{{ milestone.id }}"
                                                            >
                                                                {{ milestone.name }}
                                                            </a>
                                                        </p>
                                                        <div class="milestone-date">
                                                            {{milestone.deadline|date:'M'}}
                                                            <span
                                                            class="d-block"
                                                            style="font-size: 1.2rem; margin-top: -5px; font-weight: normal"
                                                            >
                                                                {{milestone.deadline.day}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                    </div>
                                    <!-- End of Content -->
            
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" id="assignment-activities">
                            <h6>
                                <i class="fa fa-list-ol"></i>
                                Activities
        
                                <!-- Add Activity Button -->
                                <span class="float-right">
                                    <button 
                                    id="add-activity"
                                    data-toggle="modal"
                                    data-target="#add-activity-modal"
                                    class="mb-3"
                                    title="Add a new Study Activity to contribute to the completion of tasks"
                                    >
                                        <i class="fa fa-plus-circle"></i>
                                    </button>
                                </span>
                            </h6>

                            <!-- Body -->
                            <div class="milestones-activities-bg">
                                <div class="container">
                                    <!-- Tabs -->
                                    <ul class="nav nav-tabs" id="activity-tab-header">
                                        <li class="active"><a data-toggle="tab" href="#saved">Saved</a></li>
                                        <li><a data-toggle="tab" href="#history">History</a></li>
                                    </ul>
        
                                    <!-- Content -->
                                    <div class="tab-content" id="activity-tab-body">
                                            <div id="saved" class="tab-pane fade in active show">
                                                {% for activity in assignment.activities %}

                                                    <!-- Individual Activity -->
                                                    <div class="activity-tab-saved">
                                                        <span>
                                                            <div class="activity-target float-left">
                                                                {{ activity.contribution }}
                                                            </div>
                                                            <p style="line-height: 28px;
                                                             margin-left:10px;
                                                              max-width: 65%;
                                                              white-space: nowrap;
                                                              overflow-x: hidden;
                                                               text-overflow: ellipsis">
                                                                <a
                                                                style="color:inherit"
                                                                data-toggle="modal"
                                                                data-target="#view-activity-modal-{{ activity.id }}"
                                                                href="#view-activity-modal-{{ activity.id }}"
                                                                >
                                                                    {{ activity.name }}
                                                                </a>
                                                                <span class="d-block activity-type">{{ activity.study_type_fmt }}</span>
                                                            </p>
                                                        </span>
                                                        <button
                                                        data-toggle="modal"
                                                        data-target="#do-activity-modal"
                                                        class="complete-activity-button"
                                                        activity-name="{{ activity.name }}"
                                                        activity-id="{{ activity.id }}"
                                                        activity-contribution="{{ activity.contribution }}"
                                                        title="Complete activity to contribute to the completion of tasks"
                                                        >
                                                            <i class="fa fa-refresh text-success"></i>
                                                        </button>
                                                    </div>
                                                    <!-- End Individual Activity -->

                                                {% endfor %}

                                            </div>
        
                                            <div id="history" class="tab-pane fade">
                                                {% for log in assignment.activity_log %}
                                                    <div class="activity-tab-log">
                                                        <p>{{ log.name }} ({{ log.contribution }})</p>
                                                        <p class="activity-tab-log-details">
                                                            {{ log.time_taken }} hours on {{ log.time_complete | date:'d/m/y' }} at {{ log.time_complete | date:'H:i A' }}
                                                        </p>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                    </div>
                                    <!-- End of content -->
                                </div>     
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="assignment-tasks">
                <div class="container">
                    {% if assignment.tasks %}
                    <h5>
                        <i class="fa fa-tasks"></i>
                        Tasks

                        <!-- Add Task Button -->
                        <span class="float-right">
                            <button 
                            id="add-task" 
                            title="Add a new Task"
                            data-toggle="modal" 
                            data-target="#add-task-modal"
                            >
                                <i class="fa fa-plus-circle"></i>
                            </button>
                        </span>
                    </h5>
                    <ul>
                        {% for task in assignment.tasks %}
                            <li>
                                <button
                                class="task-header" 
                                data-toggle="collapse" 
                                data-target="#task-{{task.id}}-display"
                                >
                                    <canvas class="float-left" id="task-{{task.id}}" width=40 height=40>
                                        {{task.amount_complete}}/{{task.target}}
                                    </canvas>
            
                                    <span class="task-header-text">
                                        <p>{{task.title}}<span class="float-right">Due {{task.end_date | naturaltime }}</span></p>
                                        <!-- <p>{{task.description}}</p> -->
                                        <span style="height:40px"></span>
                                    </span>

                                    <!-- Display task details -->
                                    <div id="task-{{task.id}}-display" class="collapse task-body">
                                        <div class="container">
                                            <!-- Action buttons -->
                                            <div class="task-action-buttons">
                                                <a 
                                                style="pointer-events: all"
                                                href="#edit-task-modal"
                                                class="edit-task-button mr-2"
                                                data-toggle="modal"
                                                task-title="{{ task.title }}"
                                                task-id="{{ task.id }}"
                                                task-description="{{ task.description }}"
                                                task-target="{{ task.target }}"
                                                task-start-date="{{ task.start_date }}"
                                                >
                                                    <i class="fa fa-edit"></i>
                                                    Edit
                                                </a>
    
                                                <a 
                                                style="pointer-events: all"
                                                href="#delete-task-modal"
                                                class="delete-task-button"
                                                data-toggle="modal"
                                                task-title="{{ task.title }}"
                                                task-id="{{ task.id }}"
                                                >
                                                    <i class="fa fa-trash-o"></i>
                                                    Delete
                                                </a>
                                            </div>
                                            <!-- End of action buttons -->

                                            {% if task.description %}
                                            <p>{{task.description}}</p>
                                            {% endif %}

                                            <!-- Table showing quick info -->
                                            <table class="task-details-table">
                                                <tbody>
                                                    <tr>
                                                        <td>Status</td>
                                                        <td
                                                        class="font-weight-bold"
                                                        {% if task.status == 'Overdue' %}
                                                        style="color:rgb(244, 66, 95)"
                                                        {% elif task.status == 'Complete' %}
                                                        style="color:rgb(49, 234, 126)"
                                                        {% elif task.status == 'Ongoing' %}
                                                        style="color:rgb(255, 194, 0)"
                                                        {% endif %}
                                                        >{{task.status}}</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Start Date</td>
                                                        <td>
                                                            {{task.start_date.day|ordinal}}
                                                            {{task.start_date | date:'M Y'}} at {{task.start_date | date:'h:i A'}}
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>End Date</td>
                                                        <td>
                                                            {{task.end_date.day|ordinal}}
                                                            {{task.end_date | date:'M Y'}} at {{task.start_date | date:'h:i A'}}
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            {% if task.study_type == 'READING' %}
                                                            Chapters Read
                                                            {% elif task.study_type == 'WRITING' %}
                                                            Word Count
                                                            {% elif task.study_type == 'PROGRAMMING' %}
                                                            Lines of Code Written
                                                            {% endif %}
                                                        </td>
                                                        <td>{{task.amount_complete}}/{{task.target}}</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Time Spent</td>
                                                        <td>{{task.time_spent}} hour(s)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-- End of table -->

                                            <!-- Dependencies -->
                                            <div class="task-dependencies mt-3">
                                                {% if task.dependencies.all|length > 0 %}
                                                    <h6>
                                                        <i class="fa fa-link mr-2"></i>
                                                        Dependencies
                                                    </h6>
                                                    {% for dep in task.dependencies.all %}
                                                        <span 
                                                        class="task-dep-display"
                                                        {% if dep.completed %}
                                                        style="background:rgba(49, 234, 126, 0.8)"
                                                        {% else %}
                                                        style="background:rgba(244, 66, 95, 0.8)"
                                                        {% endif %}
                                                        >
                                                            {{dep.title}}
                                                        </span>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <!-- End of dependencies -->

                                            <!-- Notes -->
                                            <div class="task-notes mt-3 mb-2">
                                                <h6>
                                                    <i class="fa fa-list mr-2"></i>
                                                    Notes
                                                </h6>
                                                <!-- End of notes -->
                                                <div class="task-notes-body">
                                                    {% if task.notes %}
                                                        <!-- <ul> -->
                                                            {% for note in task.notes %}
                                                                <li>{{note.text}}</li>
                                                            {% endfor %}
                                                            <form
                                                            id="note-form"
                                                            method="POST"
                                                            action="{% url 'add_note' assignment.id task.id %}"
                                                            >
                                                                {% csrf_token %}
                                                                <textarea
                                                                submit-url="{% url 'add_note' assignment.id task.id %}"
                                                                class="note-input"
                                                                name="text"
                                                                rows=2
                                                                ></textarea>
                                                            </form>
                                                            <!-- Add note -->
                                                            <!-- End Add note -->
                                                            <!-- </ul> -->
                                                            {% else %}
                                                            <span class="task-prompt">
                                                                You haven't added any notes to this task yet.
                                                            </span>
                                                            <form
                                                            id="note-form"
                                                            method="POST"
                                                            action="{% url 'add_note' assignment.id task.id %}"
                                                            >
                                                                {% csrf_token %}
                                                                <textarea
                                                                submit-url="{% url 'add_note' assignment.id task.id %}"
                                                                class="note-input"
                                                                name="text"
                                                                rows=2
                                                                ></textarea>
                                                            </form>
                                                    {% endif %}
                                                </div>

                                                <!-- <div>Something</div> -->
                                            </div>
                                        </div>
                                    </div>
                                </button>

                            </li>
                        {% endfor %}
                    </ul>
            
                    <!-- Javascript -->
                    {% block javascript %}
                        <!-- Display the Gantt Chart -->
                        <!-- <script>let ganttChartTasks = [];</script> -->
            
                        {% for task in assignment.tasks %}
                        <script>
                            ganttChartTasks.push({
                                title: "{{task.title|safe}}",
                                startDate: new Date("{{task.start_date|date:'Y-m-d'}}"),
                                endDate: new Date("{{task.end_date|date:'Y-m-d'}}"),
                                completion: parseInt("{{task.completion}}") / 100
                            })
                        </script>
                        {% endfor %}
            
                        <script>
                            displayGanttChart(
                                "gantt-chart",
                                 ganttChartTasks,
                                 "{{next_week | date:'Y-m-d'}}"
                            );
                        </script>

                        <!-- Display Milestone Completion Stars -->
                        {% for milestone in assignment.milestones %}
                        <script>
                            displayCompletionStar(
                                "milestone-{{milestone.id}}",
                                "{{milestone.progress}}"
                            );
                        </script>
                        {% endfor %}
            
                        <!-- Display Completion Rings -->
                        {% for task in assignment.tasks %}
                        <script>  
                            displayCompletionRing(
                                "task-{{task.id}}", 
                                "{{task.amount_complete}}", 
                                "{{task.target}}", 
                                0.7
                            );
                        </script>
                        {% endfor %}
                    {% endblock %}
            
                    {% else %}
                        <h3>No tasks to be displayed.</h3>
                    {% endif %}
                </div>
            </section>
        {% else %}
            <!-- Prompt user to create a task -->
            {% include 'assignments/noTasks.html' %}
        {% endif %}
    </div>
{% endblock %}