{% load static %}
{% block content %}
<!-- Delete Task Modal -->
<div id="delete-assignment-modal" class="modal fade" role="dialog">
        <div 
        class="modal-dialog modal-dialog-centered modal-sm" 
        style="margin: 0 auto"
        >
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Start of modal header -->
                <div class="modal-header">
                  <h4 class="modal-title" id="delete-assignment-modal-title">
                    {{assignment.title}}
                  </h4>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>
                <!-- End of modal header -->
    
                <!-- Start of modal body -->
                <div class="modal-body">
                  
                    <form
                    id="delete-assignment-form"
                    action="{% url 'delete_assignment' assignment.id %}"
                    method="POST"
                    >
                        {% csrf_token %}
                        <input id="hidden-assignment-id-delete" type="hidden" name="assignmentid" value="">

                        <div class="text-center">
                          Are you sure you want to delete this assignment and all of it's information?
                          <span class="font-weight-bold mb-1 d-block">This cannot be undone</span>
                        </div>
                        
                        <button 
                        type="submit" 
                        class="btn btn-block btn-light"
                        data-dismiss="modal"
                        >
                          No, I want to keep it
                        </button>

                        <button type="submit" class="btn btn-block btn-danger">
                            Yes, I want to delete it
                        </button>

                    </form>

                </div>
                <!-- End of modal body  -->
            </div>
        </div>
    </div>
    <!-- End Delete Assignment modal -->
{% endblock %}