{% block content %}
<!-- Add Assignment Modal -->
<div id="add-assignment-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Start of modal header -->
                <div class="modal-header">
                  <h4 class="modal-title">New Assignment</h4>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>
                <!-- End of modal header -->
    
                <!-- Start of modal body -->
                <div class="modal-body">
                  
                    <form 
                    action="{% url 'create_assignment' %}" 
                    method="POST"
                    >
                        {% csrf_token %}
                        <input id="hidden-module-id" type="hidden" name="moduleid" value="">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input
                            type="text"
                            class="form-control"
                            name="title"
                            required
                            />
                        </div>

                        <!-- Validation title -->
                        {% if errors.title %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.title }}
                        </p>
                        {% endif%}
                        <!-- End Validation title -->

                        <div class="form-group">
                            <label for="atype">Type</label>
                            <div class="form-group">
                                <select class="form-control" name="atype">
                                    {% for type in assignment_types %}
                                        <option 
                                            value="{{ type.1 }}"
                                            required
                                            {% if forloop.first %}
                                            selected
                                            {% endif %}
                                        >{{ type.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <!-- Validation type -->
                        {% if errors.atype %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.atype }}
                        </p>
                        {% endif%}
                        <!-- End Validation type -->

                        <div class="form-group">
                            <label for="title">Deadline</label>
                            <input
                            type="date"
                            class="form-control"
                            name="deadline"
                            required
                            />
                        </div>

                        <!-- Validation deadline -->
                        {% if errors.deadline %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.deadline }}
                        </p>
                        {% endif%}
                        <!-- End Validation deadline -->

                        <div class="form-group">
                            <label for="title">Weighting</label>
                            <input
                            type="number"
                            style="width: 100px"
                            min=0
                            max=100
                            class="form-control mb-3"
                            name="weighting"
                            required
                            />
                        </div>

                        <!-- Validation weighting -->
                        {% if errors.weighting %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.weighting }}
                        </p>
                        {% endif%}
                        <!-- End Validation weighting -->

                        <button type="submit" class="btn btn-block btn-warning">
                            Create Assignment
                        </button>
                    </form>

                </div>
                <!-- End of modal body  -->
            </div>
        </div>
    </div>
    <!-- End Add Study Profile modal -->
{% endblock %}