{% load static %}
{% block content %}
<!-- Share Module Modal -->
<div id="share-module-modal" class="modal fade" role="dialog">
        <div
         class="modal-dialog modal-dialog-centered modal-sm" 
         style="margin: 0 auto"
         >
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Start of modal header -->
                <div class="modal-header">
                  <h4 class="modal-title">Share Module</h4>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>
                <!-- End of modal header -->
    
                <!-- Start of modal body -->
                <div class="modal-body">
                  
                    <form
                    id="share-module-form"
                    validation-url="{% url 'validate_teacher' %}"
                    action="{% url 'share_module' %}" 
                    method="POST"
                    >
                        {% csrf_token %}
                        <input id="hidden-module-id-share" type="hidden" name="moduleid" value="">
                        <div class="form-group">
                            <label for="username">Teacher's Username</label>
                            <input
                            type="text"
                            class="form-control"
                            name="username"
                            required
                            />
                        </div>

                        <!-- Validation username -->
                        {% if errors.username %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.username }}
                        </p>
                        {% endif%}
                        <!-- End Validation username -->

                        <button type="submit" class="btn btn-block btn-warning">
                            Share
                        </button>
                    </form>

                </div>
                <!-- End of modal body  -->
            </div>
        </div>
    </div>
    <!-- End Add Study Profile modal -->


    {% block javascript %}
        <script src="{% static 'js/validation.js' %}"></script>

        <script>
            validate("#share-module-form");
        </script>
    {% endblock %}
{% endblock %}