{% load static %}
{% block content %}

<!-- Add Milestone Modal -->
<div id="add-milestone-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Start of modal header -->
                <div class="modal-header">
                  <h4 class="modal-title">Add a Milestone</h4>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>
                <!-- End of modal header -->

                <!-- Start of modal body -->
                <div class="modal-body">

                    <form
                    id="add-milestone-form"
                    validation-url="{% url 'validate_milestone' %}"
                    action="{% url 'add_milestone' assignment.id %}"
                    method="POST"
                    >



                        <!-- Name of Milestone-->
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input
                            type="text"
                            class="form-control"
                            name="name"
                            required
                            />
                        </div>

                        <!-- Validation title -->
                        {% if errors.title %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.title }}
                        </p>
                        {% endif%}
                        <!-- End Validation title -->



                        <!-- Deadline -->
                        <div class="form-group">
                            <label for="date" class="d-block">Deadline Date</label>

                          <input type="date"
                                  name="date"
                                 class="form-control w-75 float-left"
                                  placeholder = data-date-format
                                  required>

                          <input 
                            type="time"
                            name="time"
                            class="form-control w-25 float-right"
                            placeholder = data-date-format
                            required
                           >
                        </div>

                        <div class="form-group">
                            <label for="task">Tasks to Complete</label>
                            <select multiple name="task" class="form-control">
                                {% for task in assignment.tasks %}
                                <option value={{task.id}}>
                                    {{task.title}} ({{task.end_date|date:'Y-m-d H:i' }})
                                </option>
                                {% endfor %}
                            </select>
                        </div>









                        <button type="submit" class="btn btn-block btn-warning">
                            Create Milestone
                        </button>
                    </form>

                </div>
                <!-- End of modal body  -->
            </div>
        </div>
    </div>
    <!-- End Add milestone modal -->

    <script src="{% static 'js/validation.js' %}"></script>

    {% block javascript %}
        <script>
            validate("#add-milestone-form");
        </script>
    {% endblock %}
{% endblock %}