{% block content %}

{% for milestone in assignment.milestones %}
<!-- View Milestone Modal -->
<div id="view-milestone-modal-{{milestone.id}}" class="modal fade vmm" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Start of modal header -->
                <div class="modal-header">
                  <h4 class="modal-title">{{milestone.name}}</h4>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>
                <!-- End of modal header -->

                <!-- Start of modal body -->
                <div class="modal-body">


                    <h6 class="text-secondary"> 
                      <i class="fa fa-clock-o mr-1"></i>
                      Deadline 

                      <!-- Action buttons -->
                      <div class="milestone-action-buttons float-right mr-3">
                          <a 
                          style="pointer-events: all"
                          href="#edit-milestone-modal"
                          class="edit-milestone-button mr-2"
                          data-toggle="modal"
                          data-dismiss="modal"
                          milestone-name="{{ milestone.name }}"
                          milestone-id="{{ milestone.id }}"
                          >
                              <i class="fa fa-edit text-info"></i>
                              Edit
                          </a>
  
                          <a 
                          style="pointer-events: all"
                          href="#delete-milestone-modal"
                          class="delete-milestone-button"
                          data-toggle="modal"
                          data-dismiss="modal"
                          milestone-name="{{ milestone.name }}"
                          milestone-id="{{ milestone.id }}"
                          >
                              <i class="fa fa-trash-o text-danger"></i>
                              Delete
                          </a>
                      </div>
                      <!-- End of action buttons -->
                    </h6>
                    <!-- Deadline -->
                    {{ milestone.deadline }}
                    <br>
                    <br>
                    <h6 class="text-secondary"> 
                      <i class="fa fa-tasks"></i>
                      Tasks to Complete 
                    </h6>
                    <!-- List of tasks-->
                    <ul class="pl-4">
                      {% for task in milestone.tasks_to_complete.all %}
                      <li>
                        {{ task.completion }}%
                        - <span class="font-weight-bold">"{{ task.title }}"</span>
                         due on 
                         <span class="font-weight-bold">{{ task.end_date | date:'d/m/y' }}</span> at 
                         <span class="font-weight-bold">{{ task.end_date | date:'H:i A'}}</span>
                      </li>
                      {% endfor %}
                    </ul>

                    <h6 class="text-secondary"> 
                      <i class="fa fa-list-ol"></i>
                      Related Activities
                     </h6>
                    <!-- Activities relating to tasks -->
                    {% for act in milestone.related_activities %}
                      <button
                      class="btn btn-warning w-50 mb-1 view-milestone-do-activity"
                      activity-id="{{act.id}}"
                      activity-name="{{ act.name }}"
                      activity-contribution="{{ act.contribution }}"
                      title="{{act.name}}"
                      data-dismiss="modal"
                      data-toggle="modal"
                      data-target="#do-activity-modal"
                      >
                        {{ act.name }}
                        <br>
                    {% endfor %}

                </div>
                <!-- End of modal body  -->
            </div>
        </div>
    </div>
    <!-- End View Milestone modal -->
{% endfor %}
{% endblock %}